version: '3.9'
services:
   api:
    build: ./api
    ports:
      - "3000:3000"
    env_file: .env_file
    depends_on:
      - redis
      - db

    redis:
      image: redis:7-alpine
      ports:
        - "6379:6379"

    db:
      image: postgres:15-alpine
      environment: 
        POSTGRES_USER: admin
        POSTGRES_PASSWORD: admin
        POSTGRES_DB: jobque
      ports:
        - '5432:5432'

    workers:
      build: ./workers
      depends_on:
        - redis
        - db

