services:
  api:
    build:
      context: .
      dockerfile: api/Dockerfile
    ports:
      - "3001:3001"
    env_file: .env
    depends_on:
      - redis
      - db
    restart: unless-stopped

  email-worker:
    build:
      context: .
      dockerfile: workers/Dockerfile
    command: node dist/email-worker/worker.js
    env_file:
      - .env
    depends_on:
      - redis
    restart: unless-stopped

  etl-worker:
    build:
      context: .
      dockerfile: workers/Dockerfile
    command: node dist/etl-worker/worker.js
    env_file:
      - .env
    depends_on:
      - redis
    restart: unless-stopped

  media-worker:
    build:
      context: .
      dockerfile: workers/Dockerfile
    command: node dist/media-worker/worker.js
    working_dir: /app/workers
    env_file:
      - .env
    depends_on:
       - redis
    restart: unless-stopped

  ml-worker:
    build:
      context: .
      dockerfile: workers/Dockerfile
    command: node dist/ml-worker/worker.js
    env_file:
      - .env
    depends_on:
      - redis
    restart: unless-stopped

  report-worker:
    build:
      context: .
      dockerfile: workers/Dockerfile
    command: node dist/report-worker/worker.js
    env_file:
      - .env
    depends_on:
      - redis
    restart: unless-stopped
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    restart: unless-stopped
    volumes:
      - redis_data:/data

  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: job_que
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped
volumes:
  db_data:
  redis_data:
